{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}
<title>{% block title %}Cambio de contraseña exitoso{% endblock %}</title>
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'core:home' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block content %}

<p style="margin-bottom: 10px;">{% translate "Your password has been set.  You may go ahead and log in now." %}</p>

<p><a href="{% url 'core:home' %}" style="color: blue;">{% translate 'Log in' %}</a></p>

{% endblock %}
